body {
    background: black;
}

h1 {
    color: red;
    font-size: 5rem;
}

h1:hover {
    cursor: pointer;
}

.font-small {
    font-size: 3rem;
}

.font-large {
    font-size: 7rem;
}

.font-medium {
    font-size: 5rem;
    font-weight: 100;
}